* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  
  header {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0da383;
  }
  
  header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-around;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 20px 0px;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }
  
 /*  aside {
    background-color: #f0f0f0;
  }
  
  aside article {
    padding: 20px 30px 0px 30px;
  }
  
  aside article h2 {
    margin-bottom: 30px;
  }
  
  aside article h4 {
    margin-bottom: 25px;
  }
  .sidebar-img {
    background-color: #9b9b9b;
    width: 100%;
    height: 250px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
  } */
  
/*   .more-text {
    margin-bottom: 15px;
  }
  
  .sidebar-list-img {
    background-color: #9b9b9b;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  } */

/*   This is for main section */

:root{

    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35,39,42;
    --black: #000;
    --ekko-red: #de2761;
	--grey:#d9d4d4;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.section1, .section2, .section3{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	width: 100%;
}

.section4{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
	width: 100%;
}

.section2, .section4{
	background: var(--grey);
}


.content-img {
	width: 100%;
    font-weight: bold;
}

.content-text p {
	padding: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.content-text h2 {
	padding: 2rem;
	margin-bottom: 10px;
	margin-left: 2rem;
	font-weight: 900;
}


.content-btn{
	margin-top: 20px;
	text-align: center;
}

button{
	background-color: var(--brand);
	padding: 1rem;
	border-radius: 20px;
	color: var(--white);
	margin: 20px;
	border: none;
}

button:hover{
	background: var(--brand-gradient);
	transform: scale(1.1);
}

button:active{
	box-shadow: inset 3px 2px 15px -5px #252525;
}


  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    height: 150px;
  }
  
  @media only screen and (max-width: 800px) {
    nav {
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
    }

    .content {
	flex-direction: column;
    
    }
  }
  
      /////////////* Footer */////////////
footer {

}

  .container-footer {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #cccccc;
    height: 200px;
    padding: 30px;
  }

  .container-social-lang {
    display: flex;
    flex-flow: column wrap;
    justify-content: center:
    align-items: center;
    margin-right: 4rem;

  }

  .flex-lang {
    display: flex;
  }

  .flex-social {
    display: flex;
  }

  .gap {
    gap: 3rem;;
  }

  .container-site-map {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center:
    align-items: center;
  
  }

  .col-1 {
    display: flex;
    flex-flow: column wrap;
    margin-right: 2rem;
    list-style-type: none;
  }

  .col-2 {
    display: flex;
    flex-flow: column wrap;
    margin-right: 2rem;
    list-style-type: none;
  }

  .col-3 {
    display: flex;
    flex-flow: column wrap;
    margin-right: 2rem;
    list-style-type: none;
  }

  .col-2 {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
  }